# compiled output
/index.js
/index.d.ts
/lib
/api
/auth
/common
/livesync
/module
/multitool
/system
/node_modules

# logs
logs
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# misc
*.tgz
*.orig
tsconfig.build.tsbuildinfo